h1{
    margin-top:10rem;
    font-size:4rem;
    text-align:center;
}
h2{
    font-size:3rem;
}

body{
    background-image: url(img/teaching.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 100vh; 
}

.meaning{
    text-align:center;
    font-size:3rem;
    margin:2rem 14rem 2rem 14rem;
}

.structure{
    text-align:center;
    font-size:2.5rem;
    font-family:Arial, Helvetica, sans-serif
}

ul{
    text-align:center;
    list-style-position: inside;
    font-size: 3rem;
    text-decoration:none
}

@media screen and (max-width: 580px) {
    *{
        color:white;
    }

    body{
        background-image: url(img/iphone.jpg);
    
    }

    h1{
        margin-top:5rem;
        font-size:2rem;
        
    }
    .meaning{
        text-align:center;
        font-size:2rem;
        margin:1rem;
    }
    
    .structure{
        text-align:center;
        font-size:1.3rem;
        font-family:Arial, Helvetica, sans-serif
    }
    /* Additional changes for the gallery on smaller screen sizes */
  
    }
